# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war

# IDE specific folders
.idea/
out/
target/

# Maven dependencies
.mvn/
mvnw
mvnw.cmd

# Gradle dependencies
.gradle/
build/

# Operating System files
.DS_Store
Thumbs.db

# IntelliJ IDEA specific files
*.iml